[bltouch]
sensor_pin: ^bltouch_probe
control_pin: bltouch_servo
speed: 7
pin_move_time: 0.675
sample_retract_dist: 10

pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
x_offset: -30
y_offset: -17.6

[bed_mesh]
speed: 30
horizontal_move_z: 5
mesh_min: 35, -9 #20,20
mesh_max: 173, 157.4 #165,160
probe_count: 10,10
fade_start: 1.0
fade_end: 10.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2

# [z_tilt]
# z_positions:
# 	0,0
# 	100,200
# 	200,0

# points:
# 	60,60
# 	135,170
# 	190,60

[z_tilt]
# z_positions:
# 	0, -10
# 	104,180
# 	200,-10
z_positions:
	0,0
	100,200
	200,0

points:
	65, 10
	135, 177
	203, 10

speed: 50
retries: 20
horizontal_move_z: 20
retries: 10
retry_tolerance: 0.005

[gcode_macro RatOS]
variable_z_probe: "static"